<header class="header">
    <nav class="nav">
      <ul class="wrapper">
        <li class="about">サービスについて</li>
        <li class="ci">
          <img v-bind:src="require('../images/ci.svg')" alt="newyear">
          </li>
        <li class="account">
          <%= link_to "サインアウト", destroy_user_session_path, class: "nav-link", method: :delete %>
        </li>
      </ul>
    </nav>
  </header>
