@charset "utf-8";

@import "./_mixin.scss";

html { font-size: 62.5%;letter-spacing: 2px; } /* 10px */
body { 
  font-size: 1.4rem;
  letter-spacing: 2px;
  margin: 0;
  font-family:
  -apple-system, BlinkMacSystemFont,
  "ヒラギノ角ゴ ProN W3", "Hiragino Kaku Gothic ProN W3", HiraKakuProN-W3,
  "ヒラギノ角ゴ ProN", "Hiragino Kaku Gothic ProN",
  "ヒラギノ角ゴ Pro", "Hiragino Kaku Gothic Pro",
  "メイリオ", Meiryo,
  Osaka,
  "Helvetica Neue", HelveticaNeue,
  Helvetica,
  Arial,
  "Segoe UI",
  sans-serif,
  "Apple Color Emoji",
  "Segoe UI Emoji",
  "Segoe UI Symbol",
  "Noto Color Emoji";
 } 

/* リセット */

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  color:#000;
  font: inherit;
  vertical-align: baseline;
  letter-spacing: 1px;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
a{
  color: $text-color;
  text-decoration: none;
}
a:hover{
  text-decoration: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

textarea{
  overflow: auto;
  resize: vertical;
  font-size: 15px;
  line-height: 1.88;
  border: none;
  border-radius: 8px;
}

input[type="text"] ,textarea{
  @include form_text;
}
input::placeholder,textarea::placeholder {
  color: #dadbdd;
}
.check-box {
  @include form_label-check;
  margin-right: 12px;
}
input[type="checkbox"] {
  @include form_checkbox;
}
